/* Corps du site */

body {
    cursor: url('lien-vers-votre-image-futuriste.png') 32 32, auto;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Niveaux de titre */

h2 {
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

h3 {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

p {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

a {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
    text-decoration: none;
}

/* Logo */

.logo-container {
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

/* Terminal de commande */

.terminal {
    width: 100%;
    max-width: 600px;
    display: flex;
    background-color: black;
    border: 1px solid #6eab25;
    /* border-radius: 5px; */
    padding: 10px;
    overflow: hidden;
    margin: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#output {
   /* margin: 0; */
    white-space: pre-wrap;
    overflow-x: auto;
    text-align: center;
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

#input {
    width: calc(80% - 20px);
    padding: 5px;
    background-color: black;
    color: #6eab25;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Play', sans-serif;
    font-style: normal0;
    font-weight: bold;
}

#input {
    position: relative;
    margin-bottom: 20px;
}

#input::after {
    content: "|";
    display: inline-block;
    width: 8px; /* Largeur de la barre verticale */
    height: 8px;
    background-color: #fff; /* Couleur blanche */
    position: absolute;
    animation: blink-caret 0.8s infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

/* Dashboard */

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    flex-grow: 1;
}

.about,
.faq,
.site-title {
    /* background-color: #333; */
    border: 1px solid #6eab25;
    border-radius: 0px;
    padding: 30px;
    margin: 20px 0;
    color: #6eab25;
    /* transition: transform 0.3s ease-in-out;*/
}

.about:hover,
.faq:hover,
.site-title:hover {
    color: white;
}

/* Ajoutez les styles pour les titres des sections */
.about h2,
.faq h2,
.site-title h2 {
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

/* Ajoutez les styles pour le contenu des sections */
.about p,
.faq p,
.site-title p {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

.dashboard-item {
    /* background-color: #333; */
    border: 1px solid #6eab25;
    border-radius: 0px;
    padding: 30px;
    margin: 20px 0;
    /* transition: transform 0.3s ease-in-out;*/
}

/* Effet hover des cellules*/

/*.dashboard-item:hover {
    background-color: #6eab25;
}*/

.project {
    border: 1px solid #6eab25;
    padding: 20px;
    margin: 20px 0;
}

/* Effet hover sur les cellules projet /*

/* .project:hover {
    transform: scale(1.05);
} */

/*.animated-schema {
    /* Ajoutez ici des styles pour votre schéma animé
}*/

.contact-form {
    /* background-color: #333; */
    border: 1px solid #6eab25;
    border-radius: 0px;
    padding: 30px;
    margin: 20px 0;
    color: #6eab25;
    /* transition: transform 0.3s ease-in-out;*/
}

/* Ajoutez les styles pour les compétences dans la section "skills" */
.skill-card {
    border: 1px solid #6eab25;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    color: #6eab25;
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    background-color: #6eab25;
    color: black;
} 

.skill-number {
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

.skill-number:hover {
    background-color: black;
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

.skill-name {
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

.skill-name:hover {
    background-color: black;
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

/************** Section FAQ **************/

.faq .faq-item {
    border: 1px solid #6eab25;
    padding: 20px;
    margin: 20px 0;
    color: #6eab25;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

/*
.faq .faq-item:hover {
    transform: scale(1.05);
} */

.faq .faq-item h3 {
    color: #6eab25;
    margin-bottom: 15px;
}

.faq .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq .faq-item.opened .answer {
    max-height: 200px;
}

.faq .faq-item .answer p {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

/* ... (Styles existants) */

.back-to-dashboard {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.back-to-dashboard:hover {
    transform: scale(1.05);
}

.back-to-dashboard a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.back-to-dashboard a:hover {
    color: #2078b4;
}

/************** Page de présentation des projets (template-part ?) **************/

.project-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.project-details,
.project-tech,
.project-screenshots,
.project-links {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
}

.project-details:hover,
.project-tech:hover,
.project-screenshots:hover,
.project-links:hover {
    transform: scale(1.05);
}

.project-details p {
    color: #fff;
}

.project-tech ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-tech li {
    color: #fff;
}

.project-screenshots {
    display: flex;
    flex-wrap: wrap;
}

.screenshot {
    flex: 1 0 calc(33.33% - 20px);
    margin: 10px;
}

.screenshot img {
    width: 100%;
    border-radius: 8px;
}

.project-links a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.project-links a:hover {
    color: #2078b4;
}

.back-to-dashboard {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.back-to-dashboard:hover {
    transform: scale(1.05);
}

.back-to-dashboard a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.back-to-dashboard a:hover {
    color: #2078b4;
}

/************** Curriculum Vitae **************/

.cv-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.cv-header,
.cv-details,
.cv-experience,
.cv-education,
.cv-skills,
.cv-contact {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
}

.cv-header:hover,
.cv-details:hover,
.cv-experience:hover,
.cv-education:hover,
.cv-skills:hover,
.cv-contact:hover {
    transform: scale(1.05);
}

.cv-header h1 {
    color: #fff;
}

.cv-header p,
.cv-details p,
.cv-experience p,
.cv-education p,
.cv-contact p {
    color: #fff;
    margin-top: 10px;
}

.cv-education-item h3 {
    margin-bottom: 5px;
}

/************** Footer <?php include('footer.php'); ?> **************/

footer {
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}





