/* Corps du site */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/************** Niveaux de titre **************/

h1 {
    font-size: 35px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold; 
}

h2 {
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold; 
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

p {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

a {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
    text-decoration: none;
}

/************** Logo **************/

.logo-container-terminal {
    text-align: center;
    padding: 35px;
}

.logo-container {
    text-align: center;
    margin: 60px 0px 0px 0px;
} 

.logo-container-projet {
    text-align: center;
    margin: 60px 0px 0px 0px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

/************** Terminal de commande **************/

.terminal {
    width: 100%;
    max-width: 600px;
    display: flex;
    background-color: black;
    /* border: 1px solid #1f1f1f; */
    /*border-radius: 15px; */
    padding: 10px;
    overflow: hidden;
    margin: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#output {
    /* margin: 0; */
    white-space: pre-wrap;
    overflow-x: auto;
    text-align: center;
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

#input {
    width: calc(80% - 20px);
    padding: 6px;
    background-color: black;
    /* border-radius: 25px; */
    color: #6eab25;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Play', sans-serif;
    font-style: normal0;
    font-weight: bold;
}

#input {
    position: relative;
    margin-bottom: 20px;
}

#input::after {
    content: "|";
    display: inline-block;
    width: 8px; /* Largeur de la barre verticale */
    height: 8px;
    background-color: black; /* Couleur blanche */
    position: absolute;
    animation: blink-caret 0.8s infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

/************** Tableau de bord **************/

.date-heure {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0px 35px 35px 35px;
    flex-grow: 1;
}

.about,
.faq,
.site-title {
    /* background-color: #333; */
    /* border: 1px solid #000000; */
    border-radius: 0px;
    padding: 30px;
    /* margin: 20px 0; */
    color: #6eab25;
    /* transition: transform 0.3s ease-in-out; */
}

.about:hover,
.faq:hover,
.site-title:hover {
    color: white;
}

/*** Titres des sections ***/

.about h2,
.faq h2,
.site-title h2 {
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

/*** Contenu des sections ***/

.about p,
.faq p,
.site-title p {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    line-height: 22px;
    text-align: justify;
    margin-top: 30px;
}

.dashboard-item {
    background-color: black;
    border: 1px solid #6eab25; 
    /* border-radius: 5px; */
    padding: 15px 30px 15px 30px;
    /* margin: 20px 0; */
    /* transition: transform 0.3s ease-in-out; */
}

.titre-du-site {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* Effet hover des cellules*/

/*.dashboard-item:hover {
    background-color: #6eab25;
}*/

.project {
    border: 1px solid #6eab25;
    padding: 20px;
    margin: 20px 0;
}

.project-pre:hover {
    background-color: #6eab25;
    color: #ffffff;
}

.nom_du_projet{
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}


/* Effet hover sur les cellules projet /*

/* .project:hover {
    transform: scale(1.05);
} */

/*.animated-schema {
    /* Ajoutez ici des styles pour votre schéma animé
}*/

.contact-form {
    /* background-color: #333; */
    border: 1px solid #6eab25;
    border-radius: 0px;
    padding: 15px 30px 15px 30px;
    color: #6eab25;
    /* transition: transform 0.3s ease-in-out;*/
}

/************** Section Compétences **************/

.skill-card {
    border: 1px solid #6eab25;
    display: flex;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    color: #6eab25;
    transition: transform 0.3s ease-in-out;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.skill-card:hover {
    background-color: #6eab25;
} 

.skill-card:hover div{
    color: #ffffff;
} 

.skill-number {
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}

.skill-number:hover {
    background-color: #1d2820;
}

.skill-name {
    font-size: 25px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    /* margin-top: 10px; */
}

.skill-name:hover {
    background-color: #6eab25;
}

/************** Section FAQ **************/

.faq .faq-item {
    border: 1px solid #6eab25;
    padding: 20px;
    margin: 20px 0;
    color: #6eab25;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

/*
.faq .faq-item:hover {
    transform: scale(1.05);
} */

.faq .faq-item h3 {
    color: #6eab25;
}

.faq .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq .faq-item.opened .answer {
    max-height: 200px;
}

.faq .faq-item .answer p {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

/* Bouton retour au tableau de bord */

.back-to-dashboard {
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    display: flex;
    border-radius: 0px;
    height: 50px;
    /* padding: 15px 30px 15px 30px; */
    margin: 0px 0;
    /* transition: transform 0.3s ease-in-out; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.back-to-dashboard:hover {
    background-color: #40df8d;
}

.back-to-dashboard a {
    color: #40df8d;
    text-decoration: none;
    font-size: 15px;
    color: #40df8d;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

.back-to-dashboard:hover a{
    color: #0c0c0c;
}

/************** Présentation des projets (template-part ?) **************/

.project-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0px 35px 35px 35px;
    flex-grow: 1;
}

.Logo-outils {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.project-details,
.project-tech,
.project-screenshots,
.project-links {
    background-color: black;
    border: 1px solid #6eab25;
    border-radius: 0px;
    padding: 15px 30px 15px 30px;
    /* margin: 20px 0; */
    /* transition: transform 0.3s ease-in-out; */
}

/* .project-details:hover,
.project-tech:hover,
.project-screenshots:hover,
.project-links:hover {
    transform: scale(1.05);
} */

.project-details p {
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

.project-tech ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-tech li {
    color: #fff;
}

.project-screenshots {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.screenshot {
    flex: 1 0 calc(33.33% - 20px);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

/*.screenshot img {
    /* width: 100%; */
    /* border-radius: 8px; 
}
*/

.project-links a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
    margin-top: 10px;
}

.project-links a:hover {
    background-color: #6eab25;
    color: black;
}

.back-to-dashboard {
    background-color: black;
    border: 1px solid #6eab25;
    display: flex;
    border-radius: 0px;
    padding: 15px 30px 15px 30px;
    /* margin: 20px 0; */
    /* transition: transform 0.3s ease-in-out; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.back-to-dashboard:hover {
    background-color: #6eab25;
}

.back-to-dashboard a {
    color: #6eab25;
    text-decoration: none;
    margin: 0px;
    font-weight: bold;
}

.back-to-dashboard a:hover {
    color: black;
}

/************** Curriculum Vitae **************/

.cv-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.cv-header,
.cv-details,
.cv-experience,
.cv-education,
.cv-skills,
.cv-contact {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
}

.cv-header:hover,
.cv-details:hover,
.cv-experience:hover,
.cv-education:hover,
.cv-skills:hover,
.cv-contact:hover {
    transform: scale(1.05);
}

.cv-header h1 {
    color: #fff;
}

.cv-header p,
.cv-details p,
.cv-experience p,
.cv-education p,
.cv-contact p {
    color: #fff;
    margin-top: 10px;
}

.cv-education-item h3 {
    margin-bottom: 5px;
}

/************** Footer <?php include('footer.php'); ?> **************/

footer p {
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color: #6eab25;
    font-family: 'Play', sans-serif;
}





